<template>
  <div class="z-40 sticky bottom-0 lg:hidden">
    <router-link
      v-if="$route.name === 'NewsFeedView'"
      :to="{ name: 'ResourceCreateView' }"
      class="flex items-center justify-center space-x-6 p-3 bg-appElement-default w-screen text-white">
      <span>Ajouter une ressource</span>
      <plus-icon class="h-6 stroke-white"></plus-icon>
    </router-link>
    <nav
      class="flex flex-row align-middle justify-center h-20 p-4 mx-auto bg-white w-screen border-t-2 border-t-grey-100">
      <the-nav-menu></the-nav-menu>
    </nav>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

import { PlusIcon } from '@heroicons/vue/outline';

import TheNavMenu from '../TheNavMenu.vue';

export default defineComponent({
  name: 'TheMobileFooter',
  components: {
    TheNavMenu,
    PlusIcon,
  },
});
</script>
