<template>
  <div class="col-span-12 lg:col-span-8 lg:col-start-3 p-6">
    <div class="bg-white shadow-md rounded-md px-12 lg:px-24 py-12 space-y-3">
      <div class="flex justify-between items-center pb-6">
        <h2 class="h-10 text-3xl font-medium">Connexion</h2>
        <MoonIcon
          class="w-8 flex-none fill-appElement-default cursor-pointer" />
      </div>
      <form @submit.prevent="submitForm" class="flex flex-col space-y-6">
        <p v-if="responseCode === 401" class="text-red-500">
          Votre identifiant ou votre mot de passe est incorrect.
        </p>
        <div>
          <label class="font-medium" for="email-address">
            Email
            <input
              id="email-address"
              class="w-full my-2 rounded-md"
              type="email"
              placeholder="Email"
              v-model="email"
              required />
          </label>
        </div>
        <div>
          <label class="font-medium" for="password">
            Mot de passe
            <input
              id="password"
              class="w-full my-2 rounded-md"
              type="password"
              placeholder="Mot de passe"
              v-model="password"
              required />
          </label>
          <label for="remember-me">
            <input
              id="remember-me"
              class="mr-2"
              type="checkbox"
              v-model="rememberMe" />
            <span class="text-sm font-medium">Se souvenir de moi</span>
          </label>
        </div>

        <button
          class="w-full p-3 text-white rounded bg-appElement-default"
          type="submit">
          Se connecter
        </button>
      </form>
      <div>
        <a href="#" class="text-appElement-default"> Mot de passe oublié ? </a>
      </div>
      <div>
        <p>
          Vous n'avez pas de compte ?
          <router-link
            :to="{ name: 'SignupView' }"
            class="text-appElement-default"
            >Inscription</router-link
          >
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { MoonIcon } from '@heroicons/vue/solid';
import Vuex from 'vuex';

export default defineComponent({
  components: {
    MoonIcon,
  },
  name: 'TheLoginForm',
  data() {
    return {
      email: '',
      password: '',
      rememberMe: false,
    };
  },
  methods: {
    ...Vuex.mapActions(['login']),
    async submitForm() {
      await this.login({
        email: this.email,
        password: this.password,
      });
    },
  },
  computed: {
    responseCode: () =>
      this.$store.state.user.response ? this.$store.state.user.response.data.code : null,
  },
});
</script>
