<template>
  <div class="col-span-12 lg:col-span-8 lg:col-start-3 p-6">
    <div class="bg-white shadow-md rounded-md px-12 lg:px-24 py-12 space-y-3">
      <div class="flex justify-between items-center pb-6">
        <h2 class="h-10 text-3xl font-medium">Inscription</h2>
        <MoonIcon
          class="w-8 flex-none fill-appElement-default cursor-pointer" />
      </div>
      <form @submit.prevent="submitForm" class="flex flex-col space-y-6">
        <p v-if="response && response.data.violations" class="text-red-500">
          {{ response.data.violations[0].message }}
        </p>
        <p v-else-if="passwordMismatch" class="text-red-500">
          Le mot de passe doit être identique à sa confirmation
        </p>
        <div class="flex flex-col lg:flex-row lg:space-x-6">
          <label class="font-medium w-full" for="firstName">
            Prénom
            <input
              id="firstName"
              class="w-full my-2 rounded-md"
              type="text"
              placeholder="Prénom"
              v-model="firstName" />
          </label>

          <label class="font-medium w-full" for="lastName">
            Nom de famille
            <input
              id="lastName"
              class="w-full my-2 rounded-md"
              type="text"
              placeholder="Nom de famille"
              v-model="lastName" />
          </label>
        </div>

        <div>
          <label class="font-medium" for="email-address">
            Email
            <input
              id="email-address"
              class="w-full my-2 rounded-md"
              type="email"
              placeholder="Email"
              v-model="email" />
          </label>
        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-6">
          <label class="font-medium w-full" for="password">
            Mot de passe
            <input
              id="password"
              class="w-full my-2 rounded-md"
              type="password"
              placeholder="Mot de passe"
              v-model="password" />
          </label>

          <label class="font-medium w-full" for="passwordConfirm">
            Confirmer mot de passe
            <input
              id="passwordConfirm"
              class="w-full my-2 rounded-md"
              type="password"
              placeholder="Mot de passe"
              v-model="passwordConfirm" />
          </label>
        </div>

        <button
          class="w-full p-3 text-white rounded bg-appElement-default"
          type="submit">
          S'inscrire
        </button>
      </form>
      <div>
        <p>
          Vous avez déjà un compte ?
          <router-link
            :to="{ name: 'LoginView' }"
            class="text-appElement-default"
            >Connexion</router-link
          >
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { MoonIcon } from '@heroicons/vue/solid';
import Vuex from 'vuex';

export default defineComponent({
  components: {
    MoonIcon,
  },
  name: 'TheSignupForm',
  data() {
    return {
      email: '',
      password: '',
      passwordConfirm: '',
      firstName: '',
      lastName: '',
      rememberMe: false,
      passwordMismatch: false,
    };
  },
  methods: {
    ...Vuex.mapActions(['signup']),
    async submitForm() {
      if (this.password !== this.passwordConfirm) {
        this.passwordMismatch = true;
      } else {
        await this.signup({
          email: this.email,
          password: this.password,
          passwordConfirm: this.passwordConfirm,
          firstName: this.firstName,
          lastName: this.lastName,
        });
      }
    },
  },
  computed: {
    response: () =>
      this.$store.state.user.response ? this.$store.state.user.response : null,
  },
});
</script>
