<template>
  <iframe
    class="w-full aspect-video"
    :src="getVideoSource()"
    title="YouTube video player"
    allowfullscreen></iframe>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'YouTubeFrame',
  props: {
    videoUrl: {
      type: String,
      default: '',
    },
  },
  methods: {
    getVideoSource() {
      const videoURL = new URL(this.videoUrl);
      if (videoURL.hostname === 'youtu.be') {
        return `https://www.youtube.com/embed${videoURL.pathname}`;
      }
      const videoURLSearchParams = new URLSearchParams(videoURL.search);
      return `https://www.youtube.com/embed/${videoURLSearchParams.get('v')}`;
    },
  },
});
</script>
