<template>
  <aside class="hidden lg:flex col-span-4 my-6 flex-col">
    <div class="grow space-y-6 sticky">
      <a
        href="#"
        class="w-full p-3 flex justify-between items-center text-white bg-appElement-lm-active rounded shadow-lg">
        <span>Fil d'actualité</span>
        <NewspaperIcon class="h-6 fill-appElement-light cursor-pointer" />
      </a>
      <div v-if="userIsLogged" class="space-y-3">
        <a
          href="#"
          class="w-full p-3 flex justify-between items-center text-white bg-appElement-default rounded shadow-lg">
          <span>Groupes</span>
          <HeartIcon class="h-6 fill-appElement-light cursor-pointer" />
        </a>
        <div
          class="w-full p-3 flex flex-col space-y-3 shadow-xl shadow-inner rounded-md">
          <a
            href="#"
            class="w-full p-3 flex justify-between items-center text-gray-500 bg-white rounded shadow-lg">
            <span>Groupe public</span>
          </a>
          <a
            href="#"
            class="w-full p-3 flex justify-between items-center text-gray-500 bg-white rounded shadow-lg">
            <span>Groupe public limité</span>
          </a>
          <a
            href="#"
            class="w-full p-3 flex justify-between items-center text-gray-500 bg-white rounded shadow-lg">
            <span>Groupe privé</span>
          </a>
        </div>
      </div>
      <div v-if="userIsLogged" class="space-y-3">
        <a
          href="#"
          class="w-full p-3 flex justify-between items-center text-white bg-appElement-default rounded shadow-lg">
          <span>Ressources</span>
          <HeartIcon class="h-6 fill-appElement-light cursor-pointer" />
        </a>
        <div
          class="w-full p-3 flex flex-col space-y-3 shadow-inner shadow-xl rounded-md">
          <a
            href="#"
            class="w-full p-3 flex justify-between items-center text-gray-500 bg-white rounded shadow-lg">
            <span>Ressource 1</span>
          </a>
          <a
            href="#"
            class="w-full p-3 flex justify-between items-center text-gray-500 bg-white rounded shadow-lg">
            <span>Ressource 2</span>
          </a>
          <a
            href="#"
            class="w-full p-3 flex justify-between items-center text-gray-500 bg-white rounded shadow-lg">
            <span>Ressource 3</span>
          </a>
        </div>
      </div>
    </div>
    <footer class="z-40 sticky bottom-0 text-gray-500 pb-3">
      <a href="#"> Contact </a>
      <span>•</span>
      <a href="#"> Vie privée </a>
      <span>•</span>
      <br />
      <a href="#"> Plan du site </a>
      <span>•</span>
      <a href="#"> Mentions légales </a>
      <span>•</span>
      <br />
      <span>(RE)Sources Relationnelles © {{ new Date().getFullYear() }}</span>
    </footer>
  </aside>
</template>

<script>
import { defineComponent } from 'vue';
import { HeartIcon, NewspaperIcon } from '@heroicons/vue/solid';

export default defineComponent({
  name: 'NewsFeedFilters',
  components: {
    HeartIcon,
    NewspaperIcon,
  },
  computed: {
    userIsLogged() {
      return this.$store.getters.isLoggedIn;
    },
  },
});
</script>
