<template>
  <nav
    class="z-40 sticky top-0 flex flex-row align-middle justify-between h-20 p-4 mx-auto bg-white w-screen shadow-md border-grey-100">
    <div class="flex flex-row h-full">
      <img
        class="h-full mr-6"
        src="../../public/img/icons/logoRE.svg"
        alt="Logo (RE)Sources Relationnelles" />
      <div class="hidden lg:flex flex-row h-full">
        <label class="mr-3" for="quick-search">
          <input
            id="quick-search"
            type="search"
            class="flex-none h-full p-2 border rounded shadow-lg placeholder:text-md"
            placeholder="Recherche rapide" />
        </label>
        <button
          class="h-full py-2 px-3 rounded bg-appElement-default active:bg-appElement-lm-active">
          <search-icon class="h-full m-auto fill-white"></search-icon>
        </button>
      </div>
    </div>

    <div class="hidden lg:block">
      <the-nav-menu></the-nav-menu>
    </div>

    <div class="flex flex-row justify-around">
      <moon-icon
        class="hidden lg:block w-8 fill-appElement-default cursor-pointer mr-3"></moon-icon>
      <the-desktop-menu :user-is-logged="userIsLogged"></the-desktop-menu>
      <div class="lg:hidden space-x-3">
        <button class="h-12 w-12 m-auto bg-gray-100 rounded-full p-2 shadow-md">
          <search-icon
            class="h-full fill-appElement-default"
            @click="null"></search-icon>
        </button>
        <button class="h-12 w-12 m-auto bg-gray-100 rounded-full p-2 shadow-md">
          <adjustments-icon
            class="h-full fill-appElement-default"
            @click="null"></adjustments-icon>
        </button>
        <button class="h-12 w-12 m-auto bg-gray-100 rounded-full p-2 shadow-md">
          <menu-icon
            class="h-full fill-appElement-default"
            @click="openSidebar"></menu-icon>
        </button>
      </div>
    </div>
  </nav>
  <the-mobile-side-bar-menu
    @close="closeSidebar"
    :user-is-logged="userIsLogged"
    :sidebar-is-open="sidebarIsOpen"></the-mobile-side-bar-menu>
</template>

<script>
import { defineComponent } from 'vue';

import {
  AdjustmentsIcon,
  MenuIcon,
  MoonIcon,
  SearchIcon,
} from '@heroicons/vue/solid';

import TheDesktopMenu from './Desktop/TheDesktopMenu.vue';
import TheNavMenu from './TheNavMenu.vue';
import TheMobileSideBarMenu from './Mobile/TheMobileSideBarMenu.vue';

export default defineComponent({
  name: 'TheHeader',
  components: {
    AdjustmentsIcon,
    MenuIcon,
    MoonIcon,
    SearchIcon,
    TheDesktopMenu,
    TheNavMenu,
    TheMobileSideBarMenu,
  },
  data() {
    return {
      sidebarIsOpen: false,
    };
  },
  computed: {
    userIsLogged() {
      return this.$store.getters.isLoggedIn;
    },
  },
  methods: {
    openSidebar() {
      this.sidebarIsOpen = true;
    },
    closeSidebar() {
      this.sidebarIsOpen = false;
    },
  },
});
</script>
