<template>
  <div class="h-full flex flex-row justify-around">
    <router-link
      :to="{ name: 'NewsFeedView' }"
      :class="
        'h-full mx-3 py-2 px-3 rounded ' +
        ($route.name === 'NewsFeedView'
          ? 'bg-appElement-lm-active'
          : 'bg-appElement-default')
      ">
      <home-icon class="h-full m-auto fill-white"></home-icon>
    </router-link>
    <button
      :class="
        'h-full mx-3 py-2 px-3 rounded ' +
        ($route.name === 'GroupListView'
          ? 'bg-appElement-lm-active'
          : 'bg-appElement-default')
      ">
      <user-group-icon class="h-full m-auto fill-white"></user-group-icon>
    </button>
    <button
      :class="
        'h-full mx-3 py-2 px-3 rounded ' +
        ($route.name === 'ResourceListView'
          ? 'bg-appElement-lm-active'
          : 'bg-appElement-default')
      ">
      <folder-open-icon class="h-full m-auto fill-white"></folder-open-icon>
    </button>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { HomeIcon, UserGroupIcon, FolderOpenIcon } from '@heroicons/vue/solid';

export default defineComponent({
  name: 'TheNavMenu',
  components: {
    HomeIcon,
    UserGroupIcon,
    FolderOpenIcon,
  },
});
</script>
